<tr>
    <td class="content-block">
        <h4>Hi {{ fullname }},</h4> 
    </td>
</tr>
<tr>
    <td class="content-block">
        We received a request to reset your password.
    </td>
</tr>
<tr>
    <td class="content-block">
        Please use the below code within 30 minutes to reset your password: <br /><strong>{{rand_otp}}</strong>
    </td>
</tr>
<tr>
    <td class="content-block">
        If you don't want to change your password, you can ignore this email.
    </td>
</tr>
<tr>
    <td class="content-block">
        Thanks,<br>
        BlockChiropt
    </td>
</tr>