<div width="100%"
    style="background: #f8f8f8; padding: 0px 0px; line-height:28px; height:100%;  width: 100%; color: #514d6a;">
    <div style="max-width: 700px; margin: 0px auto; font-size: 14px">
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
            <tbody>
                <tr>
                    <td style="vertical-align: top; padding-top:10px;" align="center"><a href="#" target="_blank"><img
                                src="{{filePath}}/assets/images/abc.png" width="10%" height="10%" alt=""
                                style="border:none">
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="padding: 40px; background: #fff;">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                <tbody>
                    <tr>
                    <tr>
                        <td class="content-block">
                            <div style="font-size: small; font-family:arial;font-weight:100;line-height 1.5em;">
                                Hello <b>{{fullName}}</b>,</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            <div style="font-size: small; font-family:arial;font-weight:100;line-height 1.5em;">Looks
                                like you forgot your password?<br>
                                We're here to help. Click on the button below to change your password.</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            <center>
                                <a href="{{redirectUrl}}" style="display: inline-block; padding: 8px 25px; margin: 20px 0px 30px; font-size: 15px; color: #fff; 
                                    background: #4fc3f7; border-radius: 60px; text-decoration:none;">Reset password
                                </a>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            <p><i>If you didn't ask to reset your password, please ignore this email.</i></p>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="border-top:1px solid #f6f6f6; padding-top:20px;padding-top:20px;padding-bottom:10px; color:#777">
                            If the button above
                            does not work, try copying and pasting the URL into your browser. If you continue to
                            have problems, please feel free to contact us at <a
                                href="mailto:test01@ab.com">test01@ab.com</a>
                        </td>
                    </tr>
                    <tr style="line-height: 25px; font-size: 12px;color: black;">
                        <td><b>Thank you.
                            </b>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>