
<div class="m-grid__item m-grid__item--fluid  m-grid__item--order-tablet-and-mobile-1  m-login__wrapper">
	<!--begin::Head-->
	{{!-- <div class="m-login__head">
		<span>Don't have an account?</span>
		<a href="/admin/register" class="m-link m--font-danger">Sign Up</a>
	</div> --}}
	<!--end::Head-->

	<!--begin::Body-->
	<div class="m-login__body">

		<!--begin::Signin-->
		<div class="m-login__signin">
			<div class="m-login__title">
				<h3>{{title}}</h3>
			</div>

		</div>
		<!--end::Signin-->
	</div>
	<!--end::Body-->
</div>
	